.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    background-color: #0b0e14;
    color: white;
}

ul {
    font-size: 24px;
    font-weight: 900;
    margin-left: 32px;
    margin-bottom: 20px;
}

.text p {
    font-size: 17px;
    font-weight: 600;
    margin-left: 55px;
    margin-bottom: 20px;
}

.contain {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    border: 0.2px solid rgb(44, 36, 56);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contain h2 {
    margin-left: 20px;
    padding-top:10px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.skill-card {
    background-color: #161b22;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 0.2px solid #21262d;
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
    border-color: #6e40ff;
}

.icon {
    font-size: 2.5rem;
    font-weight: bold;
    width: 50px;
    text-align: center;
}

.details {
    flex-grow: 1;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.skill-name {
    font-weight: 600;
    font-size: 1.1rem;
}

.percentage {
    color: #8b949e;
    font-size: 0.9rem;
}

.progress-bg {
    background-color: #21262d;
    border-radius: 10px;
    height: 10px;
    width: 100%;
    overflow: hidden;
}

.futer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    border: 0.2px solid rgb(44, 36, 56);
    border-radius: 10px;
    margin-bottom: 20px;
}

.futer h2 {
    margin: 20px;
}
.boxes {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 10px;
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

.box {
    cursor: pointer;
    text-align: center;
}

.box p {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: white;
}


@media (max-width: 1024px) {

    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .boxes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/* Mobile */
@media (max-width: 768px) {

    .skills-container {
        grid-template-columns: 1fr;
    }

    .skill-card {
        width: 100%;
        box-sizing: border-box;
    }

    .text p {
        font-size: 15px;
        margin-left: 25px;
    }

    ul {
        font-size: 20px;
        margin-left: 15px;
    }

    .container h2,
    .futer h2 {
        font-size: 18px;
    }
    .boxes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon {
        font-size: 2rem;
    }

    .skill-name {
        font-size: 1rem;
    }
}